body
{
 color:white;
 background-color:pink;
}
h1
{
   font-family:Berlin Sans FB Demi;
}
h2
{
   font-family:Bodoni MT Condensed;
}
h3
{
   font-family:Castellar;
}
h4
{
   font-family:Edwardian Script ITC;
}
h5
{
   font-family:Cooper Black;
}
h6
{
   font-family:Curlz MT;
}
h7
{
   font-family:Juice ITC;
}
</body>
   
